<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Timey-wimey Pomodoro</title>

	<!-- external CSS link -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
        <header>
            <nav>
                <ul>
                    <li><a href="#"><img src="/static/pommy-logo.png" alt="Pommy Logo"></a></li>
                    <li><button>Login</button></li>
                    <li><button>Break Suggestions</button></li>
                </ul>
            </nav>

        </header>
        <main>
            <section>
                <div>
                    <ul>
                        <li>Pomodoro</li>
                        <li>Short break</li>
                        <li>Long break</li>
                    </ul>
                    <h1>20.00</h1>
                    <button>START</button>
                </div>
                <h6>Time to Focus</h6>
            </section>

            <section>
                Task list
            </section>

        </main>
        <footer>
            <nav>
                <ul>
                    <li><a href="">Homepage</a></li>
                    <li><a href="">About</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><a href="#"><img src="#" alt="">tw</a></li>
                    <li><a href="#"><img src="#" alt="">Lk</a></li>
                    <li><a href="#"><img src="#" alt="">hash</a></li>
                </ul>
            </nav>
            <span>Made with a lot of coffee by <a href="#">KikiDotPy</a></span>
            <h6>©Pommy 2022</h6>
        </footer>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
