{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

    {% block main %}
    <div class="alert alert-primary" role="alert">
        {{ message }}
    </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Symbol</th>
                            <th scope="col">Name</th>
                            <th scope="col">Shares</th>
                            <th scope="col">Price</th>
                            <th scope="col">TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}
                        <tr>
                            <td>{{ d["symbol"] }}</td>
                            <td>{{ d["name"] }}</td>
                            <td>{{ d["shares"]}}</td>
                            <td>{{ d["current"] | usd }}</td>
                            <td>{{ (d["current"] * d["shares"]) | usd }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                            {% if data is defined and data|length > 0 %}
                            <td class="border-0 text-end">{{ data[0]["cash"] | usd }}</td>
                            {% else %}
                            <td class="border-0 text-end"></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                            <td class="border-0 text-end"> {{ total | usd }}</td>
                        </tr>
                    </tfoot>
                </table>
{% endblock %}
