/* Box Model Hack */
* {
    box-sizing: border-box;
    background: #f6f7f1;
    color: #A66253;
    font-family: 'Nunito', sans-serif;;
  }

  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }

  .clear {
      clear: both;
  }

.no-padding {
    padding-left: 0;
    margin: 1%;
}

/* LAYOUT */

li {
    display: inline;
}

header button {
    float: right;
}

header {
    display: flex;
    justify-content: center;  
}

header > nav {
    width: 50%;
    height: 50%;
    border-bottom: 1px solid #db9487;
}

main, section, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    padding-top: 6%;
}


/* STYLE */ 

button.btn {
    color: #fff;
    background: rgba(210, 151, 138, 0.5);
    border: none;
    margin-bottom: 1%;
}

button.btn:hover {
    background: rgba(210, 151, 138, 0.2);
    color: #A66253;
}

main section {
    width: 40%;
    background: rgba(210, 151, 138, 0.2);
    margin: 1%;
    border-radius: 20px;
}

section * {
    background: transparent;
}

h1.timer {
    font-size: 8rem;
    font-weight: 800;
    color: #fff;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 4px #A66253;
    margin-top: 35px;
}

.logo {
    width: 30%;
    margin-top: 1%;
}

.space {
    margin-right: 1%;
}

.btn-container {
    margin-top: 15px;
}

#start {
    margin-top: 30px;
}

/* link style */

footer a {
    color: #34a0a4;
}

footer a:hover {
    color: #a1c9c9;
}

footer a:visited {
    color: #a1c9c9;
}