/* Box Model Hack */
* {
    box-sizing: border-box;
    background: #f6f7f1;
  }

  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }

  .clear {
      clear: both;
  }

.no-padding {
    padding-left: 0;
    margin: 1%;
}

li {
    display: inline;
}

header button {
    float: right;
}

button {
    color: #fff;
    background: transparent;
    border: 1px solid #db9487;
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
}

header {
    display: flex;
    justify-content: center;  
}

header > nav {
    width: 50%;
    height: 50%;
    border-bottom: 1px solid #db9487;
}

.logo {
    width: 30%;
    margin-top: 1%;
}
