/* Box Model Hack */
* {
    box-sizing: border-box;
    background: #f6f7f1;
    color: #A66253;
  }

  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }

  .clear {
      clear: both;
  }

.no-padding {
    padding-left: 0;
    margin: 1%;
}

/* LAYOUT */

li {
    display: inline;
}

header button {
    float: right;
}

header {
    display: flex;
    justify-content: center;  
}

header > nav {
    width: 50%;
    height: 50%;
    border-bottom: 1px solid #db9487;
}



/* STYLE */ 

button.btn {
    color: #fff;
    background: rgba(210, 151, 138, 0.5);
    border: none;
    margin-bottom: 1%;
}

button.btn:hover {
    background: rgba(210, 151, 138, 0.2);
    color: #A66253;
}

.logo {
    width: 30%;
    margin-top: 1%;
}

.space {
    margin-right: 1%;
}
